<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>danceability</th>
      <th>energy</th>
      <th>loudness</th>
      <th>acousticness</th>
      <th>valence</th>
      <th>tempo</th>
      <th>liveness</th>
      <th>speechiness</th>
      <th>id</th>
      <th>sunny</th>
      <th>cloudy</th>
      <th>rainy</th>
      <th>cold</th>
      <th>hot</th>
      <th>weather</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Ç‚ÇÒÇøÇ· BOY Ç‚ÇÒÇøÇ· GIRL - JO1 ver.</th>
      <td>0.737</td>
      <td>0.960</td>
      <td>-1.985</td>
      <td>0.067700</td>
      <td>0.859</td>
      <td>103.970</td>
      <td>0.2150</td>
      <td>0.0888</td>
      <td>70AVBiQqhICRbBeq1QIqKs</td>
      <td>0.640000</td>
      <td>0.360000</td>
      <td>0.538282</td>
      <td>0.944058</td>
      <td>4.437343e-31</td>
      <td>0.613280</td>
    </tr>
    <tr>
      <th>Run&amp;Go</th>
      <td>0.643</td>
      <td>0.939</td>
      <td>-2.230</td>
      <td>0.109000</td>
      <td>0.796</td>
      <td>110.015</td>
      <td>0.0886</td>
      <td>0.0747</td>
      <td>7u8y9AgcPnTKAIsZjqkZAk</td>
      <td>1.740271</td>
      <td>0.010166</td>
      <td>0.720086</td>
      <td>0.825431</td>
      <td>4.742723e+01</td>
      <td>10.307689</td>
    </tr>
    <tr>
      <th>Happy Merry Christmas - JO1 ver.</th>
      <td>0.700</td>
      <td>0.924</td>
      <td>-2.693</td>
      <td>0.003750</td>
      <td>0.927</td>
      <td>117.996</td>
      <td>0.2990</td>
      <td>0.0648</td>
      <td>4uSeSSJAHGtKDHi5Abk7BG</td>
      <td>1.844682</td>
      <td>0.023639</td>
      <td>0.530890</td>
      <td>1.000000</td>
      <td>5.576425e+01</td>
      <td>12.027965</td>
    </tr>
    <tr>
      <th>Dreaming Night</th>
      <td>0.755</td>
      <td>0.895</td>
      <td>-2.141</td>
      <td>0.020700</td>
      <td>0.572</td>
      <td>104.993</td>
      <td>0.2910</td>
      <td>0.0428</td>
      <td>21dUm9AhF3ol9cvGPAK7II</td>
      <td>1.874011</td>
      <td>0.008166</td>
      <td>0.794413</td>
      <td>0.711217</td>
      <td>5.937132e+01</td>
      <td>12.692436</td>
    </tr>
    <tr>
      <th>Born To Be Wild</th>
      <td>0.710</td>
      <td>0.967</td>
      <td>-2.266</td>
      <td>0.053400</td>
      <td>0.763</td>
      <td>119.942</td>
      <td>0.0740</td>
      <td>0.2140</td>
      <td>7lqTldwj8KFoiHeSN2cPYn</td>
      <td>1.637637</td>
      <td>0.014038</td>
      <td>0.732314</td>
      <td>0.860146</td>
      <td>6.262311e+01</td>
      <td>13.342670</td>
    </tr>
    <tr>
      <th>Phobia</th>
      <td>0.644</td>
      <td>0.958</td>
      <td>-2.315</td>
      <td>0.051400</td>
      <td>0.623</td>
      <td>108.092</td>
      <td>0.1880</td>
      <td>0.1020</td>
      <td>4UJf2ymScQBLPycWs8ghPK</td>
      <td>2.356917</td>
      <td>0.142086</td>
      <td>0.785588</td>
      <td>0.720028</td>
      <td>9.658045e+01</td>
      <td>20.232601</td>
    </tr>
    <tr>
      <th>Speed of Light</th>
      <td>0.654</td>
      <td>0.910</td>
      <td>-2.295</td>
      <td>0.035500</td>
      <td>0.483</td>
      <td>150.112</td>
      <td>0.3380</td>
      <td>0.0670</td>
      <td>3Vs0t9259ujQgbQ7K33DKw</td>
      <td>2.421937</td>
      <td>0.224987</td>
      <td>1.635043</td>
      <td>0.610000</td>
      <td>1.057379e+02</td>
      <td>22.202976</td>
    </tr>
    <tr>
      <th>ÉcÉJÉÅ~It's Coming~ - JO1 ver.</th>
      <td>0.567</td>
      <td>0.923</td>
      <td>-2.534</td>
      <td>0.050000</td>
      <td>0.524</td>
      <td>135.033</td>
      <td>0.4020</td>
      <td>0.1250</td>
      <td>6wbIV9ez3NzNaa0RyKa86F</td>
      <td>2.678197</td>
      <td>0.387014</td>
      <td>1.330953</td>
      <td>0.607732</td>
      <td>1.429626e+02</td>
      <td>29.637441</td>
    </tr>
    <tr>
      <th>OH-EH-OH</th>
      <td>0.649</td>
      <td>0.941</td>
      <td>-2.801</td>
      <td>0.016200</td>
      <td>0.610</td>
      <td>133.005</td>
      <td>0.3420</td>
      <td>0.0402</td>
      <td>0t0ez8wVqYfkVhT8K6dWTw</td>
      <td>3.879638</td>
      <td>0.535525</td>
      <td>1.016203</td>
      <td>0.718966</td>
      <td>2.216828e+02</td>
      <td>45.603319</td>
    </tr>
    <tr>
      <th>Touch!</th>
      <td>0.672</td>
      <td>0.880</td>
      <td>-2.665</td>
      <td>0.001030</td>
      <td>0.497</td>
      <td>123.026</td>
      <td>0.3800</td>
      <td>0.0362</td>
      <td>3wvjUJSFyVgTuB0a5b3Vkk</td>
      <td>3.694361</td>
      <td>0.575506</td>
      <td>1.132953</td>
      <td>0.627747</td>
      <td>2.267033e+02</td>
      <td>46.557225</td>
    </tr>
    <tr>
      <th>MONSTAR</th>
      <td>0.593</td>
      <td>0.913</td>
      <td>-3.041</td>
      <td>0.019700</td>
      <td>0.794</td>
      <td>148.063</td>
      <td>0.3130</td>
      <td>0.0376</td>
      <td>1Phbp5ys94i0Omq5OzStoo</td>
      <td>3.935227</td>
      <td>0.383235</td>
      <td>0.952187</td>
      <td>0.829212</td>
      <td>2.379347e+02</td>
      <td>48.896099</td>
    </tr>
    <tr>
      <th>Shine A Light</th>
      <td>0.582</td>
      <td>0.931</td>
      <td>-2.635</td>
      <td>0.044300</td>
      <td>0.652</td>
      <td>118.004</td>
      <td>0.0677</td>
      <td>0.0762</td>
      <td>5zs7vimHRTVyjmsQv3a1Dc</td>
      <td>3.960637</td>
      <td>0.685955</td>
      <td>0.838628</td>
      <td>0.710991</td>
      <td>2.494634e+02</td>
      <td>51.136922</td>
    </tr>
    <tr>
      <th>REAL</th>
      <td>0.783</td>
      <td>0.919</td>
      <td>-3.060</td>
      <td>0.013200</td>
      <td>0.756</td>
      <td>118.056</td>
      <td>0.3390</td>
      <td>0.0916</td>
      <td>4rDlzGxIuDw04xE9DTSayV</td>
      <td>3.926399</td>
      <td>0.473137</td>
      <td>0.650627</td>
      <td>0.881502</td>
      <td>2.579743e+02</td>
      <td>52.862869</td>
    </tr>
    <tr>
      <th>Algorithm</th>
      <td>0.698</td>
      <td>0.873</td>
      <td>-2.818</td>
      <td>0.020300</td>
      <td>0.611</td>
      <td>90.015</td>
      <td>0.1750</td>
      <td>0.0842</td>
      <td>76BLCtFUSXIvtsjkZGa8CP</td>
      <td>4.480831</td>
      <td>0.929996</td>
      <td>0.590383</td>
      <td>0.710991</td>
      <td>3.373214e+02</td>
      <td>68.762917</td>
    </tr>
    <tr>
      <th>Walk It Like I Talk It</th>
      <td>0.743</td>
      <td>0.902</td>
      <td>-2.795</td>
      <td>0.117000</td>
      <td>0.486</td>
      <td>103.057</td>
      <td>0.2010</td>
      <td>0.1270</td>
      <td>0iQhRDdbf6DyE7Vkd4QccN</td>
      <td>4.686557</td>
      <td>2.047044</td>
      <td>1.191430</td>
      <td>0.611921</td>
      <td>3.681078e+02</td>
      <td>75.041935</td>
    </tr>
    <tr>
      <th>ICARUS</th>
      <td>0.658</td>
      <td>0.878</td>
      <td>-2.805</td>
      <td>0.021100</td>
      <td>0.608</td>
      <td>142.064</td>
      <td>0.0753</td>
      <td>0.0494</td>
      <td>7DqVgYJa31zL5ZRtk5Dc1g</td>
      <td>5.060136</td>
      <td>1.165793</td>
      <td>1.175398</td>
      <td>0.695323</td>
      <td>3.821974e+02</td>
      <td>77.964711</td>
    </tr>
    <tr>
      <th>Move The Soul - From THE FIRST TAKE</th>
      <td>0.711</td>
      <td>0.935</td>
      <td>-2.996</td>
      <td>0.039800</td>
      <td>0.696</td>
      <td>116.045</td>
      <td>0.0667</td>
      <td>0.2250</td>
      <td>4Pmr4geZd025zx2wdJh2Ec</td>
      <td>4.636570</td>
      <td>1.329345</td>
      <td>0.745357</td>
      <td>0.798525</td>
      <td>3.974444e+02</td>
      <td>80.884683</td>
    </tr>
    <tr>
      <th>SuperCali</th>
      <td>0.682</td>
      <td>0.834</td>
      <td>-3.007</td>
      <td>0.036800</td>
      <td>0.748</td>
      <td>144.040</td>
      <td>0.0537</td>
      <td>0.0639</td>
      <td>4pW4sNCWGUG9D9EjACfkvK</td>
      <td>5.152409</td>
      <td>1.098333</td>
      <td>1.043720</td>
      <td>0.789364</td>
      <td>4.255180e+02</td>
      <td>86.658566</td>
    </tr>
    <tr>
      <th>GrandMaster (Band Ver.) (Live)</th>
      <td>0.546</td>
      <td>0.938</td>
      <td>-3.266</td>
      <td>0.037400</td>
      <td>0.600</td>
      <td>120.036</td>
      <td>0.3450</td>
      <td>0.0873</td>
      <td>0WOHKxci21zMissAXXfB2E</td>
      <td>5.867715</td>
      <td>1.882718</td>
      <td>0.932085</td>
      <td>0.664256</td>
      <td>4.624423e+02</td>
      <td>94.114124</td>
    </tr>
    <tr>
      <th>We Alright</th>
      <td>0.710</td>
      <td>0.907</td>
      <td>-3.350</td>
      <td>0.020000</td>
      <td>0.555</td>
      <td>124.126</td>
      <td>0.3630</td>
      <td>0.1550</td>
      <td>2oigRP4oSvdpcB160aU5rQ</td>
      <td>6.128756</td>
      <td>2.315444</td>
      <td>1.041860</td>
      <td>0.686443</td>
      <td>5.555522e+02</td>
      <td>112.819141</td>
    </tr>
    <tr>
      <th>With Us</th>
      <td>0.604</td>
      <td>0.902</td>
      <td>-3.371</td>
      <td>0.006020</td>
      <td>0.762</td>
      <td>100.008</td>
      <td>0.1070</td>
      <td>0.0496</td>
      <td>3V3qaACLm2qFCvYZ1amkco</td>
      <td>6.718515</td>
      <td>1.743031</td>
      <td>0.475325</td>
      <td>0.808856</td>
      <td>5.617010e+02</td>
      <td>114.102506</td>
    </tr>
    <tr>
      <th>Move The Soul</th>
      <td>0.563</td>
      <td>0.919</td>
      <td>-3.500</td>
      <td>0.010800</td>
      <td>0.714</td>
      <td>120.095</td>
      <td>0.2840</td>
      <td>0.2690</td>
      <td>06lPpnaKh64CEQ5hXqqQNo</td>
      <td>5.681777</td>
      <td>1.933707</td>
      <td>0.710346</td>
      <td>0.759470</td>
      <td>5.655512e+02</td>
      <td>114.692446</td>
    </tr>
    <tr>
      <th>Safety Zone</th>
      <td>0.566</td>
      <td>0.897</td>
      <td>-3.226</td>
      <td>0.016900</td>
      <td>0.433</td>
      <td>199.984</td>
      <td>0.3270</td>
      <td>0.1920</td>
      <td>3QP2fFfdVPQ082YlM0yfPM</td>
      <td>6.105348</td>
      <td>2.907403</td>
      <td>2.640596</td>
      <td>0.547982</td>
      <td>5.837036e+02</td>
      <td>118.709094</td>
    </tr>
    <tr>
      <th>Love &amp; Hate</th>
      <td>0.701</td>
      <td>0.810</td>
      <td>-3.292</td>
      <td>0.097600</td>
      <td>0.430</td>
      <td>102.968</td>
      <td>0.3840</td>
      <td>0.0378</td>
      <td>6e0iV4Q2qpftF5CwYqgLYI</td>
      <td>7.004762</td>
      <td>3.646828</td>
      <td>1.375147</td>
      <td>0.535251</td>
      <td>6.516272e+02</td>
      <td>132.215527</td>
    </tr>
    <tr>
      <th>Design</th>
      <td>0.740</td>
      <td>0.878</td>
      <td>-3.404</td>
      <td>0.099400</td>
      <td>0.652</td>
      <td>97.993</td>
      <td>0.1560</td>
      <td>0.1110</td>
      <td>5IBBt4VL9KQwEx0QoE6zVF</td>
      <td>7.154796</td>
      <td>3.191125</td>
      <td>0.763536</td>
      <td>0.729923</td>
      <td>6.743304e+02</td>
      <td>136.741717</td>
    </tr>
    <tr>
      <th>La Pa Pa Pam</th>
      <td>0.646</td>
      <td>0.843</td>
      <td>-3.351</td>
      <td>0.007650</td>
      <td>0.477</td>
      <td>94.967</td>
      <td>0.3150</td>
      <td>0.0626</td>
      <td>6CtBESIafdMzYsXwPnBo1h</td>
      <td>7.348770</td>
      <td>3.037045</td>
      <td>0.884419</td>
      <td>0.589524</td>
      <td>6.892287e+02</td>
      <td>139.728181</td>
    </tr>
    <tr>
      <th>GO</th>
      <td>0.749</td>
      <td>0.857</td>
      <td>-3.642</td>
      <td>0.050500</td>
      <td>0.851</td>
      <td>122.000</td>
      <td>0.0632</td>
      <td>0.1480</td>
      <td>3RqH1vKsHvSBkstjKedXbG</td>
      <td>7.124788</td>
      <td>2.539015</td>
      <td>0.717508</td>
      <td>0.905459</td>
      <td>7.128180e+02</td>
      <td>144.494234</td>
    </tr>
    <tr>
      <th>STAY</th>
      <td>0.609</td>
      <td>0.855</td>
      <td>-3.299</td>
      <td>0.004390</td>
      <td>0.597</td>
      <td>115.030</td>
      <td>0.0870</td>
      <td>0.0965</td>
      <td>6GinsPrMg1KYcjQk8iLncz</td>
      <td>7.424949</td>
      <td>2.743872</td>
      <td>0.844793</td>
      <td>0.666813</td>
      <td>7.150350e+02</td>
      <td>144.927668</td>
    </tr>
    <tr>
      <th>OH-EH-OH - Band Ver.</th>
      <td>0.583</td>
      <td>0.941</td>
      <td>-3.550</td>
      <td>0.005980</td>
      <td>0.484</td>
      <td>133.071</td>
      <td>0.3560</td>
      <td>0.0619</td>
      <td>6w8E4nacdtvqgSrT4a7RHu</td>
      <td>8.248189</td>
      <td>3.666719</td>
      <td>1.285217</td>
      <td>0.607043</td>
      <td>7.285598e+02</td>
      <td>147.861457</td>
    </tr>
    <tr>
      <th>My Friends</th>
      <td>0.680</td>
      <td>0.887</td>
      <td>-4.010</td>
      <td>0.318000</td>
      <td>0.807</td>
      <td>103.965</td>
      <td>0.3790</td>
      <td>0.0448</td>
      <td>4awTmU3yOIDhAbyETCJdK3</td>
      <td>8.475684</td>
      <td>5.285657</td>
      <td>1.143940</td>
      <td>0.745434</td>
      <td>7.850098e+02</td>
      <td>159.224052</td>
    </tr>
    <tr>
      <th>Get Inside Me</th>
      <td>0.629</td>
      <td>0.778</td>
      <td>-3.790</td>
      <td>0.014800</td>
      <td>0.659</td>
      <td>91.008</td>
      <td>0.4070</td>
      <td>0.0534</td>
      <td>7tjQEDV8xja2aDy0i1GGs5</td>
      <td>8.232822</td>
      <td>3.024857</td>
      <td>0.585912</td>
      <td>0.687629</td>
      <td>8.467592e+02</td>
      <td>171.390646</td>
    </tr>
    <tr>
      <th>YOUNG - JO1 ver.</th>
      <td>0.631</td>
      <td>0.876</td>
      <td>-3.355</td>
      <td>0.018600</td>
      <td>0.418</td>
      <td>124.949</td>
      <td>0.1310</td>
      <td>0.0589</td>
      <td>4sCHBaEC8Zzx1apvH9LMN9</td>
      <td>8.821245</td>
      <td>4.595093</td>
      <td>1.443806</td>
      <td>0.552060</td>
      <td>8.488239e+02</td>
      <td>172.038621</td>
    </tr>
    <tr>
      <th>Running</th>
      <td>0.560</td>
      <td>0.791</td>
      <td>-3.673</td>
      <td>0.067200</td>
      <td>0.390</td>
      <td>106.918</td>
      <td>0.3010</td>
      <td>0.0449</td>
      <td>33FoYXRFxax13JCyV5snvf</td>
      <td>10.022135</td>
      <td>6.285537</td>
      <td>1.502658</td>
      <td>0.468900</td>
      <td>1.067921e+03</td>
      <td>216.076688</td>
    </tr>
    <tr>
      <th>Infinite City</th>
      <td>0.526</td>
      <td>0.927</td>
      <td>-3.858</td>
      <td>0.000619</td>
      <td>0.419</td>
      <td>127.974</td>
      <td>0.3110</td>
      <td>0.0520</td>
      <td>3FuQqudHmoEZ9AYFlbED6x</td>
      <td>11.015053</td>
      <td>6.214278</td>
      <td>1.403372</td>
      <td>0.540819</td>
      <td>1.082050e+03</td>
      <td>219.109922</td>
    </tr>
    <tr>
      <th>Dreamer</th>
      <td>0.504</td>
      <td>0.745</td>
      <td>-3.565</td>
      <td>0.103000</td>
      <td>0.507</td>
      <td>146.005</td>
      <td>0.0892</td>
      <td>0.0306</td>
      <td>5TeAgMrJb3IsQYu62AD7IN</td>
      <td>10.110598</td>
      <td>5.894850</td>
      <td>1.889633</td>
      <td>0.498808</td>
      <td>1.108954e+03</td>
      <td>224.390369</td>
    </tr>
    <tr>
      <th>Freedom</th>
      <td>0.664</td>
      <td>0.924</td>
      <td>-3.930</td>
      <td>0.031400</td>
      <td>0.646</td>
      <td>145.069</td>
      <td>0.0339</td>
      <td>0.0582</td>
      <td>1I2xgArx6BUHlOoIzYQvDY</td>
      <td>11.738270</td>
      <td>5.946798</td>
      <td>1.143924</td>
      <td>0.739886</td>
      <td>1.185050e+03</td>
      <td>239.882490</td>
    </tr>
    <tr>
      <th>YOLO-konde</th>
      <td>0.663</td>
      <td>0.880</td>
      <td>-3.847</td>
      <td>0.016000</td>
      <td>0.485</td>
      <td>135.064</td>
      <td>0.0339</td>
      <td>0.0527</td>
      <td>5LdlHKiCTrVlk2qhjhDpI9</td>
      <td>12.510308</td>
      <td>7.259127</td>
      <td>1.368107</td>
      <td>0.610873</td>
      <td>1.325590e+03</td>
      <td>268.138106</td>
    </tr>
    <tr>
      <th>KungChiKiTa - JO1 ver.</th>
      <td>0.746</td>
      <td>0.814</td>
      <td>-4.165</td>
      <td>0.081100</td>
      <td>0.685</td>
      <td>87.993</td>
      <td>0.0905</td>
      <td>0.1320</td>
      <td>3ZgvCWM0l8ae9apVat77Cx</td>
      <td>12.124135</td>
      <td>7.162379</td>
      <td>0.622389</td>
      <td>0.740002</td>
      <td>1.421572e+03</td>
      <td>287.159702</td>
    </tr>
    <tr>
      <th>ñ≥å¿ëÂ</th>
      <td>0.730</td>
      <td>0.851</td>
      <td>-3.787</td>
      <td>0.067400</td>
      <td>0.351</td>
      <td>117.993</td>
      <td>0.0220</td>
      <td>0.0375</td>
      <td>0rxD6R7B4yH9oCdL03x88W</td>
      <td>13.110698</td>
      <td>9.510589</td>
      <td>1.758416</td>
      <td>0.516516</td>
      <td>1.421074e+03</td>
      <td>287.395294</td>
    </tr>
    <tr>
      <th>ì`Ç¶ÇÁÇÍÇÈÇ»ÇÁ</th>
      <td>0.669</td>
      <td>0.812</td>
      <td>-4.007</td>
      <td>0.049000</td>
      <td>0.314</td>
      <td>110.023</td>
      <td>0.2690</td>
      <td>0.0393</td>
      <td>5egzGWfR1CiIbpeyjpqisI</td>
      <td>13.078513</td>
      <td>9.603968</td>
      <td>1.772142</td>
      <td>0.467738</td>
      <td>1.459599e+03</td>
      <td>295.077098</td>
    </tr>
    <tr>
      <th>16(Sixteen)</th>
      <td>0.565</td>
      <td>0.802</td>
      <td>-4.054</td>
      <td>0.022600</td>
      <td>0.494</td>
      <td>159.986</td>
      <td>0.1570</td>
      <td>0.0628</td>
      <td>0ORoKPxMlB2U0AhxATDDEN</td>
      <td>13.002409</td>
      <td>7.788347</td>
      <td>1.813158</td>
      <td>0.554720</td>
      <td>1.484668e+03</td>
      <td>300.118537</td>
    </tr>
    <tr>
      <th>îÚÇ◊ÇÈÇ©ÇÁ</th>
      <td>0.499</td>
      <td>0.871</td>
      <td>-3.908</td>
      <td>0.187000</td>
      <td>0.253</td>
      <td>93.017</td>
      <td>0.1130</td>
      <td>0.0470</td>
      <td>7bOIhFAfADMU6fGU4QbBkz</td>
      <td>13.729620</td>
      <td>13.075195</td>
      <td>2.183898</td>
      <td>0.361194</td>
      <td>1.494329e+03</td>
      <td>302.193011</td>
    </tr>
    <tr>
      <th>Rose</th>
      <td>0.788</td>
      <td>0.807</td>
      <td>-4.209</td>
      <td>0.001930</td>
      <td>0.501</td>
      <td>110.039</td>
      <td>0.2080</td>
      <td>0.1090</td>
      <td>6uqxRSkUzwnoraYGJv4gmr</td>
      <td>13.393952</td>
      <td>8.127788</td>
      <td>1.020017</td>
      <td>0.645616</td>
      <td>1.584640e+03</td>
      <td>320.069093</td>
    </tr>
    <tr>
      <th>ñlÇÁÇÃãGêﬂ</th>
      <td>0.575</td>
      <td>0.884</td>
      <td>-4.126</td>
      <td>0.063500</td>
      <td>0.407</td>
      <td>112.944</td>
      <td>0.1080</td>
      <td>0.0573</td>
      <td>7lUf7oxJKQgrA3XfDk2C6d</td>
      <td>14.615967</td>
      <td>10.546567</td>
      <td>1.431903</td>
      <td>0.514558</td>
      <td>1.612751e+03</td>
      <td>325.965585</td>
    </tr>
    <tr>
      <th>ó¨êØâJ</th>
      <td>0.624</td>
      <td>0.834</td>
      <td>-4.449</td>
      <td>0.102000</td>
      <td>0.527</td>
      <td>95.987</td>
      <td>0.2540</td>
      <td>0.0742</td>
      <td>178tZRJ5inqE6PLVSEeRO9</td>
      <td>15.007789</td>
      <td>10.607285</td>
      <td>1.007512</td>
      <td>0.580856</td>
      <td>1.743275e+03</td>
      <td>352.090453</td>
    </tr>
    <tr>
      <th>So What</th>
      <td>0.779</td>
      <td>0.826</td>
      <td>-4.664</td>
      <td>0.006150</td>
      <td>0.775</td>
      <td>101.998</td>
      <td>0.0736</td>
      <td>0.0391</td>
      <td>0EF5RXVxv38ssxMcgF8qxT</td>
      <td>15.904609</td>
      <td>8.479021</td>
      <td>0.517296</td>
      <td>0.859835</td>
      <td>1.837735e+03</td>
      <td>371.175358</td>
    </tr>
    <tr>
      <th>Blooming Again</th>
      <td>0.567</td>
      <td>0.851</td>
      <td>-4.281</td>
      <td>0.022500</td>
      <td>0.391</td>
      <td>92.034</td>
      <td>0.0833</td>
      <td>0.0414</td>
      <td>1EgFyW9JGx3Yd0F7BN0NBt</td>
      <td>16.353706</td>
      <td>11.632047</td>
      <td>1.112995</td>
      <td>0.504348</td>
      <td>1.873626e+03</td>
      <td>378.420307</td>
    </tr>
    <tr>
      <th>Be With You (ë´ê’)</th>
      <td>0.526</td>
      <td>0.680</td>
      <td>-4.490</td>
      <td>0.502000</td>
      <td>0.581</td>
      <td>139.818</td>
      <td>0.1720</td>
      <td>0.0367</td>
      <td>0GJgajxgyOWPZLOGO64VYu</td>
      <td>15.846017</td>
      <td>15.670210</td>
      <td>3.174659</td>
      <td>0.410310</td>
      <td>2.003797e+03</td>
      <td>404.727695</td>
    </tr>
    <tr>
      <th>Prologue</th>
      <td>0.486</td>
      <td>0.791</td>
      <td>-4.288</td>
      <td>0.040400</td>
      <td>0.337</td>
      <td>94.053</td>
      <td>0.0814</td>
      <td>0.0435</td>
      <td>0MQxa7P9R7dqOfLqwXcA3R</td>
      <td>16.751456</td>
      <td>12.931665</td>
      <td>1.433604</td>
      <td>0.423179</td>
      <td>2.005774e+03</td>
      <td>404.961075</td>
    </tr>
    <tr>
      <th>ñlÇÁÇÃãGêﬂ - From THE FIRST TAKE</th>
      <td>0.643</td>
      <td>0.642</td>
      <td>-4.580</td>
      <td>0.574000</td>
      <td>0.474</td>
      <td>103.076</td>
      <td>0.4050</td>
      <td>0.0322</td>
      <td>2Jw0KHHtnytlbR0DSrW125</td>
      <td>15.630569</td>
      <td>17.030947</td>
      <td>3.240111</td>
      <td>0.353180</td>
      <td>2.013597e+03</td>
      <td>406.634902</td>
    </tr>
    <tr>
      <th>åNÇÃÇ‹Ç‹</th>
      <td>0.596</td>
      <td>0.532</td>
      <td>-4.357</td>
      <td>0.286000</td>
      <td>0.237</td>
      <td>93.031</td>
      <td>0.1430</td>
      <td>0.0249</td>
      <td>66upBRv5un2GrYtkWYIJlR</td>
      <td>17.482981</td>
      <td>18.947326</td>
      <td>3.497107</td>
      <td>0.267939</td>
      <td>2.428092e+03</td>
      <td>489.921512</td>
    </tr>
    <tr>
      <th>ALL HOURS</th>
      <td>0.544</td>
      <td>0.924</td>
      <td>-5.392</td>
      <td>0.002960</td>
      <td>0.533</td>
      <td>158.016</td>
      <td>0.5110</td>
      <td>0.2140</td>
      <td>5NbQuY8xbxAu1x8OuS6MSp</td>
      <td>19.769281</td>
      <td>14.837862</td>
      <td>1.500692</td>
      <td>0.622823</td>
      <td>2.492853e+03</td>
      <td>503.073733</td>
    </tr>
    <tr>
      <th>ZERO</th>
      <td>0.614</td>
      <td>0.695</td>
      <td>-4.964</td>
      <td>0.296000</td>
      <td>0.639</td>
      <td>99.971</td>
      <td>0.1050</td>
      <td>0.2040</td>
      <td>41ov62QJFBw2AV6Gorfo1z</td>
      <td>18.505898</td>
      <td>17.435920</td>
      <td>1.507476</td>
      <td>0.541022</td>
      <td>2.608772e+03</td>
      <td>525.973460</td>
    </tr>
    <tr>
      <th>OASIS</th>
      <td>0.630</td>
      <td>0.800</td>
      <td>-5.015</td>
      <td>0.005480</td>
      <td>0.580</td>
      <td>132.064</td>
      <td>0.0658</td>
      <td>0.0466</td>
      <td>0wp1HrYx3nHShTEWidF9yX</td>
      <td>21.534874</td>
      <td>14.642593</td>
      <td>1.129445</td>
      <td>0.641832</td>
      <td>2.690308e+03</td>
      <td>542.851137</td>
    </tr>
    <tr>
      <th>GrandMaster - JO1 ver.</th>
      <td>0.689</td>
      <td>0.737</td>
      <td>-5.491</td>
      <td>0.029900</td>
      <td>0.720</td>
      <td>119.975</td>
      <td>0.1240</td>
      <td>0.0541</td>
      <td>39C9E7PZkLOlfjopaXi5NP</td>
      <td>23.839647</td>
      <td>16.434115</td>
      <td>0.876915</td>
      <td>0.735088</td>
      <td>3.137269e+03</td>
      <td>632.691131</td>
    </tr>
    <tr>
      <th>Never Ending Story</th>
      <td>0.567</td>
      <td>0.702</td>
      <td>-5.289</td>
      <td>0.395000</td>
      <td>0.337</td>
      <td>167.941</td>
      <td>0.1000</td>
      <td>0.2200</td>
      <td>6ptNUJyoEx0MpN3M0EIVVJ</td>
      <td>24.474572</td>
      <td>29.999364</td>
      <td>4.511011</td>
      <td>0.324309</td>
      <td>3.557153e+03</td>
      <td>717.357364</td>
    </tr>
    <tr>
      <th>Starlight</th>
      <td>0.412</td>
      <td>0.684</td>
      <td>-6.775</td>
      <td>0.012100</td>
      <td>0.307</td>
      <td>164.102</td>
      <td>0.1180</td>
      <td>0.1450</td>
      <td>7owpBkhLIqJmIF1FRggmmG</td>
      <td>43.604535</td>
      <td>43.568384</td>
      <td>2.896276</td>
      <td>0.363589</td>
      <td>6.482600e+03</td>
      <td>1305.965565</td>
    </tr>
    <tr>
      <th>Voice(åNÇÃê∫)</th>
      <td>0.481</td>
      <td>0.531</td>
      <td>-6.815</td>
      <td>0.536000</td>
      <td>0.353</td>
      <td>148.728</td>
      <td>0.1030</td>
      <td>0.0523</td>
      <td>0NACSQBZ557ZTL0PcxrgCM</td>
      <td>45.262803</td>
      <td>56.042857</td>
      <td>5.339777</td>
      <td>0.237831</td>
      <td>6.885306e+03</td>
      <td>1387.276885</td>
    </tr>
    <tr>
      <th>Voice (åNÇÃê∫)</th>
      <td>0.455</td>
      <td>0.519</td>
      <td>-6.844</td>
      <td>0.528000</td>
      <td>0.333</td>
      <td>149.951</td>
      <td>0.0908</td>
      <td>0.0546</td>
      <td>6n3nOZoSdGhPw9zba0mi0E</td>
      <td>46.016487</td>
      <td>57.401539</td>
      <td>5.540923</td>
      <td>0.222816</td>
      <td>7.040159e+03</td>
      <td>1418.432428</td>
    </tr>
  </tbody>
</table>